# backend
target
container_*
trips.txt
positions.txt
siri-vehicles.json
gtfs/
profile.json


# env
.env
.env.*
!.env.example
!.env.test
mise.local.toml

# frontend
node_modules

# Output
.output
.vercel
.svelte-kit
build
*.log
# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# science
data/
pgadmin.yaml
.venv/
